<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- gazebo system via ros2_control -->
  <ros2_control name="GazeboSystem" type="system">

    <!-- HARDWARE INTERFACE for CM -->
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>

    <!-- joints -->

    <!-- LEFT WHEEL -->
    <joint name="left_wheel_joint">

      <!-- command interface on velocity -->
      <commmand_interface name="velocity">
        <param name="min">-10</param>
        <param name="max">10</param>
      </commmand_interface>

      <!-- state interfaces (vel, pos) -->
      <state_interface name="velocity"></state_interface>
      <state_interface name="position"></state_interface>
    </joint>

    <!-- RIGHT WHEEL -->
    <joint name="right_wheel_joint">

      <!-- command interface on velocity -->
      <commmand_interface name="velocity">
        <param name="min">-10</param>
        <param name="max">10</param>
      </commmand_interface>

      <!-- state interfaces (vel, pos) -->
      <state_interface name="velocity"></state_interface>
      <state_interface name="position"></state_interface>
    </joint>
  </ros2_control>

  <!-- GAZEBO plugin for gazebo to tell hem to use ros2_control -->
  <gazebo>
    <!-- note name doesnt matter -->
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <parameters>$(find saxibot)/config/my_controllers.yaml</parameters>
    </plugin>
  </gazebo>
  
</robot>